#bar{
  background-color: green;
  margin: 1%;
  display: flex;
}
img{
  margin: 1%;
}
select{
  margin: 1%;
  width: 40%;
  padding: 2%;
}
#s{
  color: darkgreen;
}
#t{
  color: darkblue;
}
#para1{
  width: 60%;
}
body{
  background-image: url('/bg.jpeg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
}
p{
  display: inline-block;
}
#par{
  display: flex;
  gap: 2%;
}
